<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typing Site</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <!-- Main content -->
    <main> 

        <div>
            <input type="text" id="input-prompt" placeholder="Type here...">
            <button onclick="sendPrompt()">Send Prompt</button>
        </div>
        <!-- Contains the words to be typed (static for now) -->
        <div>
            <p id="to-be-typed">Response will be here</p>
        </div>


    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>