<!DOCTYPE html><html lang="en">
<head>
    <title>Main Program</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Main content -->
    <main>

        <div  id="prompt-elements">
            <div class="center-wrapper">
                <input type="text" id="prompt-input" placeholder="Enter prompt here ...">
            </div>
            <div class="center-wrapper">
                <button class="nice-button" onclick="sendPrompt()">Send Prompt</button>
            </div>
        </div>

        <div class="center-wrapper">
            <p id="to-be-typed">Text will appear here ...</p>
        </div>

        <div class="center-wrapper">
            <textarea 
                class="hidden"
                id="words-typed" 
                placeholder="Start typing..."
                rows="8" cols="300"
                autocorrect="off" autocapitalize="off" spellcheck="off" ></textarea>
        </div>
        <div id="clock" class="center-wrapper">
            <h3>Timer <span id="timer">60</span> s</h3>
        </div>
        <div class="center-wrapper">
            <button id="redo-prompt" class="hidden nice-button" onclick="showElement('prompt-elements')">Try Another Prompt</button>
        </div>
        <div class="center-wrapper" id="results"></div>
    </main>


<script src="{{ url_for('static', filename='utilities.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>