<!DOCTYPE html><html lang="en">
<head>
    <title>Main Program</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Main content -->
    <main>

        <div class="center-wrapper">
            <input type="text" id="prompt" placeholder="Enter prompt here ...">
            <button onclick="sendPrompt()">Send Prompt</button>
        </div>

        <div class="center-wrapper">
            <p id="to-be-typed">Text will appear here ...</p>
        </div>

        <div class="center-wrapper">
            <textarea 
                class="hidden"
                id="words-typed" 
                
                rows="4" cols="70"
                autocorrect="off" autocapitalize="off" spellcheck="off" ></textarea>
        </div>
        <div class="center-wrapper">
            <h3>You have <span id="timer">60</span> seconds to type</h3>
        </div>
    </main>



<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>